@model BookingApiLocationSearchViewModel
@{
    Layout = null;
}




<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /> <br />
    <table class="table table-bordered">
        <tr>
            
            <th>Lokasyon</th>
        </tr>
        @foreach (var item in Model.data)
        {
            <tr>
               
                <td>@item.dest_id</td>
                
            </tr>
        }



    </table>
</div>
